<a href="https://colab.research.google.com/github/jonscales/jonscales-DataScience-2025/blob/main/Completed/04-Loops_and_Iteration/01-For_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üìò 01 - For Loops

Learn how to use `for` loops to iterate over sequences.

## ‚úÖ Learning Goals
- Use `for` with lists, strings, and `range()`
- Understand loop variables and block structure

In [ ]:
# üîÅ Loop over a list
fruits = ['apple', 'banana', 'cherry']
for fruit in fruits:
    print(fruit)

In [ ]:
# üîÅ Loop over characters in a string
word = 'hello'
for char in word:
    print(char)

In [ ]:
# üîÅ Using range()
for i in range(5):
    print(i)

In [ ]:
# ‚ûï Loop with math
for i in range(1, 6):
    print(f'{i} squared is', i ** 2)

### ‚úèÔ∏è Your Turn
Loop over a list of 3 favorite movies and print them in all caps.

In [12]:
Jons_movie_list = ['Airplane', 'Life of Brian', 'Princess Bride', 'Gladiator', 'Idiocracy']
print(Jons_movie_list)
print(sorted(Jons_movie_list))
print('First 3 favorite movies:',end="")
for i in range(3):
  print(Jons_movie_list[i].upper(), end=", ")
print(" ")
print('other favorite movies are: ', end="")
for movie in Jons_movie_list[3:]:
  print(movie.upper(),end=", ")

['Airplane', 'Life of Brian', 'Princess Bride', 'Gladiator', 'Idiocracy']
['Airplane', 'Gladiator', 'Idiocracy', 'Life of Brian', 'Princess Bride']
First 3 favorite movies:AIRPLANE, LIFE OF BRIAN, PRINCESS BRIDE,
other favorite movies are: GLADIATOR, IDIOCRACY,