<a href="https://colab.research.google.com/github/jonscales/jonscales-DataScience-2025/blob/main/Completed/06-Working_with_Data_Adv/02-pandas_series_and_dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üêº Notebook 02: Pandas Series and DataFrames

Congratulations. You've graduated from lists and dictionaries ‚Äî it‚Äôs time to wield a more powerful tool: **Pandas**.

This notebook introduces you to the two most essential data structures in data science:

- `Series`: a one-dimensional labeled array (like a dictionary and list had a well-organized child)
- `DataFrame`: a two-dimensional table with labeled axes (basically Excel‚Äôs smarter cousin)

---

In [22]:
import pandas as pd

## üî¢ Series from a List
Simple but powerful ‚Äî labels give it superpowers.

In [23]:
# A Series from a list ‚Äî just like a list, but fancier and labeled
prices = pd.Series([2.99, 4.49, 1.99], index=["Apple", "Milk", "Bread"])
print("Grocery Prices:")
print(prices)

# Accessing elements like a dictionary
print("\nPrice of Milk:", prices["Milk"])

Grocery Prices:
Apple    2.99
Milk     4.49
Bread    1.99
dtype: float64

Price of Milk: 4.49

## üó∫Ô∏è Series from a Dictionary
Keys become the index ‚Äî pretty intuitive, right?

In [25]:
population = {
    "Texas": 29_000_000,
    "California": 39_000_000,
    "New York": 19_000_000
}

state_pop = pd.Series(population)
print("State Populations:")
print(state_pop)

# Series support math!
print("\nPopulation in millions:")
print(state_pop / 1_000_000)

State Populations:
Texas         29000000
California    39000000
New York      19000000
dtype: int64

Population in millions:
Texas         29.0
California    39.0
New York      19.0
dtype: float64

## üìã Creating a DataFrame
Like a spreadsheet, but you control the universe.

In [24]:
# Creating a DataFrame ‚Äî the bread and butter of Pandas
data = {
    "Name": ["Alice", "Bob", "Charlie", "Diana"],
    "GPA": [3.9, 2.7, 3.4, 3.8],
    "Credits": [90, 45, 60, 120],
    "Graduating": [False, False, False, True]
}

students = pd.DataFrame(data)
print("Student DataFrame:")
print(students)

Student DataFrame:
      Name  GPA  Credits  Graduating
0    Alice  3.9       90       False
1      Bob  2.7       45       False
2  Charlie  3.4       60       False
3    Diana  3.8      120        True

## üéØ Column Access + Row Access

In [26]:
# Access a column
print("\nGPA column:")
print(students["GPA"])

# Access a row
print("\nCharlie's record:")
print(students.loc[2])

GPA column:
0    3.9
1    2.7
2    3.4
3    3.8
Name: GPA, dtype: float64

Charlie's record:
Name          Charlie
GPA               3.4
Credits            60
Graduating      False
Name: 2, dtype: object

## üß™ Inspect the DataFrame

In [8]:
# Shape and structure
print("\nShape:", students.shape)
print("\nColumns:", students.columns.tolist())

# Info dump
print("\nDataFrame Info:")
print(students.info())

# Stats summary
print("\nDataFrame Summary Stats:")
print(students.describe())

Shape: (4, 4)

Columns: ['Name', 'GPA', 'Credits', 'Graduating']

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        4 non-null      object
 1   GPA         4 non-null      float64
 2   Credits     4 non-null      int64
 3   Graduating  4 non-null      bool
dtypes: bool(1), float64(1), int64(1), object(1)
memory usage: 232.0+ bytes
None

DataFrame Summary Stats:
            GPA     Credits
count  4.000000    4.000000
mean   3.450000   78.750000
std    0.544671   33.260337
min    2.700000   45.000000
25%    3.225000   56.250000
50%    3.600000   75.000000
75%    3.825000   97.500000
max    3.900000  120.000000

## üßº Rename a Column

In [9]:
students.rename(columns={"Graduating": "Is_Graduating"}, inplace=True)
print("\nRenamed column:")
print(students.head())

Renamed column:
      Name  GPA  Credits  Is_Graduating
0    Alice  3.9       90          False
1      Bob  2.7       45          False
2  Charlie  3.4       60          False
3    Diana  3.8      120           True

---
## üîç Your Turn

1. Create a `Series` from a dictionary of state abbreviations to population (use fake or real data).
2. Create a `DataFrame` for 5 students with columns: `Name`, `GPA`, `Credits`, `Graduating` (True/False).
3. Try accessing a row using `.loc[]` and a column using bracket notation.
4. Print the `.shape`, `.columns`, and `.info()` of your DataFrame.

üéØ Bonus: Rename a column just to mess with the future grader.

In [28]:
# Your data science destiny begins here.
import pandas as pd
# series
# dictionary of st populations
st_populations = {
    "AL": 5100000,
    "AK": 700000,
    "AZ": 7200000,
    "AR": 3000000,
    "CA": 39500000,
    "CO": 5800000,
    "CT": 3600000,
    "DE": 1000000,
    "FL": 21500000,
    "GA": 10700000,
    "HI": 1500000,
    "ID": 1800000,
    "IL": 12800000,
    "IN": 6800000,
    "IA": 3200000,
    "KS": 2900000,
    "KY": 4500000,
    "LA": 4700000,
    "ME": 1400000,
    "MD": 6200000,
    "MA": 7000000,
    "MI": 10100000,
    "MN": 5700000,
    "MS": 3000000,
    "MO": 6200000,
    "MT": 1100000,
    "NE": 2000000,
    "NV": 3100000,
    "NH": 1400000,
    "NJ": 9300000,
    "NM": 2100000,
    "NY": 20200000,
    "NC": 10400000,
    "ND": 800000,
    "OH": 11800000,
    "OK": 4000000,
    "OR": 4200000,
    "PA": 13000000,
    "RI": 1100000,
    "SC": 5100000,
    "SD": 900000,
    "TN": 6900000,
    "TX": 29100000,
    "UT": 3300000,
    "VT": 600000,
    "VA": 8600000,
    "WA": 7700000,
    "WV": 1800000,
    "WI": 5900000,
    "WY": 600000
}

state_pop = pd.Series(st_populations)
print("State Populations:")
print(state_pop)

# max, min, average, total populations
max_st = state_pop.idxmax()
max_pop = state_pop.max()
min_st = state_pop.idxmin()
min_pop = state_pop.min()
avg_pop = state_pop.mean()
total_pop = state_pop.sum()

print("\n Largest Population:", max_pop, "State:",max_st)
print("\n Smallest Population:", min_pop, "State:",min_st)
print("\n Average St Population:",avg_pop)
print("\n Total US Population: ", total_pop)

# dataframes

students = {
    "Name": ["Pat", "Terry", "Richard", "Tina", "Jon"],
    "GPA": [3.6, 3.9, 3.8, 3.8, 3.2],
    "Credits": [90, 120, 60, 120, 60],
    "Graduating": [False, True, False, True, False]
}

df = pd.DataFrame(students)
print("\nStudent DataFrame:")
print(df)

# Access a column
print("\nCredits column:")
print(df["Credits"])

# Access all if a student info
print("\nRichard's record:")
print(df.loc[2])

# shape, columns & info
print("\nShape:", df.shape)
print("\nColumns:", df.columns.tolist())
print("\nDataFrame Info:")
print(df.info())

State Populations:
AL     5100000
AK      700000
AZ     7200000
AR     3000000
CA    39500000
CO     5800000
CT     3600000
DE     1000000
FL    21500000
GA    10700000
HI     1500000
ID     1800000
IL    12800000
IN     6800000
IA     3200000
KS     2900000
KY     4500000
LA     4700000
ME     1400000
MD     6200000
MA     7000000
MI    10100000
MN     5700000
MS     3000000
MO     6200000
MT     1100000
NE     2000000
NV     3100000
NH     1400000
NJ     9300000
NM     2100000
NY    20200000
NC    10400000
ND      800000
OH    11800000
OK     4000000
OR     4200000
PA    13000000
RI     1100000
SC     5100000
SD      900000
TN     6900000
TX    29100000
UT     3300000
VT      600000
VA     8600000
WA     7700000
WV     1800000
WI     5900000
WY      600000
dtype: int64

 Largest Population: 39500000 State: CA

 Smallest Population: 600000 State: VT

 Average St Population: 6618000.0

 Total US Population:  330900000

Student DataFrame:
      Name  GPA  Credits  Graduating
0      Pat  3.6       90       False
1    Terry  3.9      120        True
2  Richard  3.8       60       False
3     Tina  3.8      120        True
4      Jon  3.2       60       False

Credits column:
0     90
1    120
2     60
3    120
4     60
Name: Credits, dtype: int64

Richard's record:
Name          Richard
GPA               3.8
Credits            60
Graduating      False
Name: 2, dtype: object

Shape: (5, 4)

Columns: ['Name', 'GPA', 'Credits', 'Graduating']

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        5 non-null      object
 1   GPA         5 non-null      float64
 2   Credits     5 non-null      int64
 3   Graduating  5 non-null      bool
dtypes: bool(1), float64(1), int64(1), object(1)
memory usage: 257.0+ bytes
None

---
## üìé Side Notes
- A `Series` is like a single column of a spreadsheet.
- A `DataFrame` is like the full spreadsheet.
- Rows and columns can both have labels (called the **index** and **columns**).

Next stop: loading data from the real world. Brace yourself for CSVs.